.rainy {
  background-image: url('./img/rainy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.cloudy {
  background-image: url('./img/cloudy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.sunny {
  background-image: url('./img/sunny.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.snowy {
  background-image: url('./img/snowy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.windy {
  background-image: url('./img/weather.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.temp-parent {
  position: relative;
  border-radius: 20px;
  text-shadow: 3px 6px rgba(139, 134, 134, 0.973);
  background-color: rgba(87, 83, 83, 0.5);
}

.temp-parent .Temp {
  margin-top: -40px;
  font-size: 130px;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, 'Times New Roman', serif, sans-serif
}

.input  input {
  margin-right: 5%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: none;
  color: white;
}

.clear-icon i {
  font-size: 25px;
  margin-top: 5px;
}

.hours {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.about {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.span {
  color: rgb(141, 141, 141);
  font-weight: bolder;
}

/* .mx-hour {
  margin-left: 100%;
} */

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar .navbar-li {
  color: rgb(201, 191, 191);
}

.active {
  color: white !important;
  font-weight: bolder;
}

.icon-ul {

}

.icons {
  font-size: 35px;
  color: black;
}

.icons a{
  font-size: 35px;
  color: rgb(170, 169, 169);
}